.hero-unit{
	padding:30px;
}
#map-canvas { height: 500px; width:100%; margin-right:200px; }

#incidents-container{
	float:left;
}

#map-container{

}

#map-container.with-sidebar{
	margin-left:150px;
}

.incident-content{
	list-style: none
}





#checkCurrentPosition.btn{
	margin-bottom:20px;
}




.toc-open .toc {
	left: 0;
	z-index: 1000;
}

.toc-open .row {
	left: 150px;
}


.toc .toggle {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: red;
}

.sidebar {
	background: #161124;
	color: #fff;
	position: fixed;
	width: 270px;
	top: 0;
	bottom: 0;
	left: -270px;
	z-index: 100;
	-webkit-transition: all 300ms 0ms;
	-webkit-transition-delay: ease-out;
	-moz-transition: all 300ms 0ms ease-out;
	-o-transition: all 300ms 0ms ease-out;
	transition: all 300ms 0ms ease-out;
}


.sidebar .toggle {
	display: block;
	height: 40px;
	width: 40px;
	position: absolute;
	right: -40px;
	top: 0;
	-webkit-transition: all 300ms 0ms;
	-webkit-transition-delay: ease-out;
	-moz-transition: all 300ms 0ms ease-out;
	-o-transition: all 300ms 0ms ease-out;
	transition: all 300ms 0ms ease-out;
	background: rgba(22,17,36,.2) url(/images/menu.svg) center center no-repeat;
	background-size: 24px 24px;
}

.detail-list li{
	list-style: none;
	margin:20px 0;
}

