.hero-unit{
	padding:30px;
}

#map-canvas { height: 500px; width:100%; margin-right:200px; }

#incidents-container{
	float:left;
}


.incident-content{
	list-style: none
}

#checkCurrentPosition.btn{
	margin-bottom:20px;
}



.toc-open .toc {
	left: 0;
	z-index: 1000;
}

.toc-open .row {
	left: 150px;
}

.toc .toggle {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: red;
}

.sidebar {
	background: #161124;
	color: #fff;
	position: fixed;
	width: 270px;
	top: 0;
	bottom: 0;
	left: -270px;
	z-index: 100;
	-webkit-transition: all 300ms 0ms;
	-webkit-transition-delay: ease-out;
	-moz-transition: all 300ms 0ms ease-out;
	-o-transition: all 300ms 0ms ease-out;
	transition: all 300ms 0ms ease-out;
}


.sidebar .toggle {
	display: block;
	height: 40px;
	width: 40px;
	position: absolute;
	right: -40px;
	top: 0;
	-webkit-transition: all 300ms 0ms;
	-webkit-transition-delay: ease-out;
	-moz-transition: all 300ms 0ms ease-out;
	-o-transition: all 300ms 0ms ease-out;
	transition: all 300ms 0ms ease-out;
	background: rgba(22,17,36,.2) url(/images/menu.svg) center center no-repeat;
	background-size: 24px 24px;
}

.detail-list li{
	list-style: none;
	margin:20px 0;
}

.edit-incident{
	color:#333;
	font-size: 120%;
	padding-left:10px;
}

.navbar{
	margin-bottom:10px;
}
.navbar .nav li a {
	font-weight: bold;
	text-align: center;
	border-left: 1px solid rgba(255,255,255,.75);
	border-right: 1px solid rgba(0,0,0,.1);
}

.container{
	max-width:1000px;
}


/**/

.gravatar-small{
	padding: 5px 0;
	width: 25px;
	height:25px;
}

.hero-unit{
	text-align:center;
	margin:70px 0;
}

.hero-unit h1{
	margin-bottom:15px;
}

.footer {
text-align: center;
padding: 30px 0;
margin-top: 70px;
border-top: 1px solid #e5e5e5;
background-color: #f5f5f5;
}

.title-container{
	margin:25px;
}

.bg-light{
	background-color: #f5f5f5;
	padding: 10px;
	border-radius: 5px;
}

#map-container{
	margin:25px;
	padding:3px;
	border-radius:5px;
}



.preview-title{
	padding-left: 60px;
	background: url(/images/bike_s.png) no-repeat;
	line-height: 62px;
}

/*modal panel*/

.my-title-modal{
	border: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	outline: none;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}

/*help*/
.help-container{
	padding:8px;
}

.txt-light{
	color: rgb(130,130,130);
}
.blue-txt{
	color:#0088cc;
}


.icon-map{
	background: url(/images/map_small.png);
}

.modal-body{
	overflow-y: visible;
}
.datepicker, .dropdown-menu{
	z-index: 2000;
}

.timeSelection{
	width: 80px !important;
}




/*!
* Colorpicker for Bootstrap
*
* Copyright 2012 Stefan Petre
* Licensed under the Apache License v2.0
* http://www.apache.org/licenses/LICENSE-2.0
*
*/
.colorpicker-saturation {
	width: 100px;
	height: 100px;
	background-image: url(/img/saturation.png);
	cursor: crosshair;
	float: left;
}
.colorpicker-saturation i {
	display: block;
	height: 5px;
	width: 5px;
	border: 1px solid #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
	margin: -4px 0 0 -4px;
}
.colorpicker-saturation i b {
	display: block;
	height: 5px;
	width: 5px;
	border: 1px solid #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.colorpicker-hue, .colorpicker-alpha {
	width: 15px;
	height: 100px;
	float: left;
	cursor: row-resize;
	margin-left: 4px;
	margin-bottom: 4px;
}
.colorpicker-hue i, .colorpicker-alpha i {
	display: block;
	height: 1px;
	background: #000;
	border-top: 1px solid #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: -1px;
}
.colorpicker-hue {
	background-image: url(/img/hue.png);
}
.colorpicker-alpha {
	background-image: url(/img/alpha.png);
	display: none;
}
.colorpicker {
	*zoom: 1;
	top: 0;
	left: 0;
	padding: 4px;
	min-width: 120px;
	margin-top: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.colorpicker:before, .colorpicker:after {
	display: table;
	content: "";
}
.colorpicker:after {
	clear: both;
}
.colorpicker:before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: -7px;
	left: 6px;
}
.colorpicker:after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ffffff;
	position: absolute;
	top: -6px;
	left: 7px;
}
.colorpicker div {
	position: relative;
}
.colorpicker.alpha {
	min-width: 140px;
}
.colorpicker.alpha .colorpicker-alpha {
	display: block;
}
.colorpicker-color {
	height: 10px;
	margin-top: 5px;
	clear: both;
	background-image: url(/img/alpha.png);
	background-position: 0 100%;
}
.colorpicker-color div {
	height: 10px;
}
.input-append.color .add-on i, .input-prepend.color .add-on i {
	display: block;
	cursor: pointer;
	width: 16px;
	height: 16px;
} 






