
<template name="header">
<h3 class="muted">Social Map für Velo-Bestohlene</h3>
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav navbar-nav">
      <li class="{{tabClassName 'home'}}">
        <a href="/">Home</a>
      </li>
      <li class="{{tabClassName 'about'}}">
        <a href="{{aboutPagePath}}">About</a>
      </li>
        {{#if currentUser }}
        <li class="{{tabClassName 'profile'}}">
          <a href="{{userProfilePath user}}">
            Profile
          </a>
        </li>
        {{/if}}
    </ul>
    <ul class="nav navbar-nav  pull-right">
      <li><img class="gravatar-login" src="{{gravatar}}" /></li>
      <li>{{loginButtons}}</li>
    </ul>
  </div>
</div>


</template>