<template name="incidentDetailPreview">
	
		<div class="my-title-modal">
			<div class="modal-header">
				{{#if guistate}}
				 <button id="gui-state-2-close" 
				 type="button" 
				 class="close" 
				 data-dismiss="modal" 
				 aria-hidden="true">×</button>
				 {{/if}}
				<h3 class="">Velo Diebstahl</h3>
			</div>
			{{#with incident}}
			<div class="modal-body">
				<p>
					Dieses Velo der Marke {{brand}} wurde am {{date}} zwischen {{timeStart}} und {{timeEnd}} gestohlen.<br/>			
				</p>
			</div>
		
			<div class="modal-footer">
				<a href="{{incidentDetailPagePath this}}" class="btn btn-primary">View Details</a>
			</div>
			{{/with}}
		</div>

</template>