<template name="incidentDetailPreview">
	<div id="title-modal">
		<div class="my-title-modal">
			<div class="modal-header">
				<h3 class="preview-title">Velo Diebstahl</h3>
			</div>
			<div class="modal-body">
				{{#with incident}}
					<ul class="preview-list">
						{{#if brand}}
							<li class="preview-list-item brand">
								</i> Marke: {{brand}}
							</li>
						{{/if}}

						{{#if color}}
							<li class="preview-list-item color">
								
								<div style="float:left;">	
									<div style="float:left;">Farbe:</div>
									<div class="color-box" style="background-color:{{color}}; float:left; margin-left:5px;"></div>
								</div>
							</li>
						{{/if}}

						{{#if story}}
							<li class="preview-list-item story" style="clear:both; margin: 20px 0 0 0;">
								{{author}}: <i>{{story}}</i>
							</li>
						{{/if}}

						{{#if date}}
							<li class="preview-list-item date">
								{{date}}
							</li>
						{{/if}}

						{{#if timeStart}}
							{{#if timeEnd}}
								<li class="preview-list-item timeStart">
									{{timeStart}} - {{timeEnd}}
								</li>
							{{/if}}
						{{/if}}
					</ul>
				{{/with}}
			</div>
			{{#with incident}}
			<div class="modal-footer">
				<a href="{{incidentDetailPagePath this}}" class="btn btn-primary">View Details</a>
			</div>
			{{/with}}
		</div>
	</div>
</template>