<template name="incidentsList">
	{{#unless currentUser}}
		<div class="hero-unit">
			<h1>Velo geklaut? Hier melden!</h1>
			<p class="lead">Wieso eine Site wie diese? Nach dem ersten Frust über den Verlust gilt es nun zu handeln und deine Erfahrungen zu teilen. Nimm Dir 5 Minuten Zeit und mache einen Report über den Vorfall. Wer weiss mit etwas Glück taucht dein Vehikel ja wieder auf...</p>
			<a id="start-now"
			   class="btn btn-large btn-success"
			   href="#">

			   Vorfall jetzt melden
			</a>
			
		</div>
		<div class="row-fluid">
			<div class="span4">
			<h2>Heading</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
				<p><a class="btn" href="#">View details »</a></p>
			</div>
			<div class="span8">
				<div class="tabbable"> <!-- Only required for left/right tabs -->
				  <ul class="nav nav-tabs">
				    <li class="active"><a class="map-tab" id="basel" href="#tab1" data-toggle="tab">Basel</a></li>
				    <li><a class="map-tab" id="zurich" href="#tab2" data-toggle="tab">Zürich</a></li>
				    <li><a class="map-tab" id="bern" href="#tab2" data-toggle="tab">Bern</a></li>
				  </ul>
				</div>
				<div id="map-container">
					{{> map }}
				</div>
			</div>
		</div>
	{{else}}
	<div class="row">
		<div class="span8" style="max-width:600px;">
			<div id="title-modal" class="title-container">
				<div class="my-title-modal">
	              <div class="modal-header">
	                <button id="title-modal-close" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                <h3>Modal header</h3>
	              </div>
	              <div class="modal-body">
	                <a class="pull-left" href="#">
						<img class="media-object" src="/images/map_medium.png" >
					</a>
					<div class="caption" style="padding-left:110px;">
						<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
						<p>
						</p>
					</div>
	              </div>
	              <div class="modal-footer">
	              	<a id="create-incident" 
	              		href="#" 
	              		data-toggle="popover" class="btn btn-success" 
	              		title="" 
	              		data-content="Um einen Incident zu kreieren, bitte auf der Karte am Ort wo dein Velo gestohlen wurde Doppelklicken" 
	              		data-placement="bottom" 
	              		data-original-title="Create an Incident">Create Incident</a>
	              </div>
            </div>
			</div>
		</div>
		<div class="span4" id="gui-state-container">
			<div class="title-container">
			{{>incidentDetailPreview}}
	        </div>
        </div>
        <div class="span12" style="max-width:1000px;">
			<div id="map-container" class="my-title-modal">
				{{> map }}
			</div>
        </div>
	</div>
	{{/unless}}		
</template>
