<template name="incidentEdit">
	<div class="row">
		 <div class="span12">
		 	<div class="my-title-modal">
				<div class="modal-header">
					<h3 class="">Vorfall bearbeiten</h3>
				</div>
				<div class="modal-body">
				 	<ul class="detail-list">
					{{#with incident}}
						<ul class="preview-list">
							<li class="preview-list-item brand">
								<div class="control-group">
									<div class="controls">
										<input id="incidentBrand" name="brand" type="text" value="{{brand}}" placeholder="Marke des gestohlenen Velos"/>
									</div>
								</div>
							</li>
							<li class="preview-list-item story" style="clear:both; margin: 20px 0 0 0;">
								<div class="control-group">
									<div class="controls">
										<input id="incidentStory" name="story" type="text" value="{{story}}" placeholder="Was ist passiert?"/>
									</div>
								</div>
							</li>
							<li class="preview-list-item date">
								<div class="control-group">
									<div class="controls">
										<input id="incidentDate" name="date" type="text" value="{{date}}" placeholder="Wann wurde das Velo gestohlen?"/>
									</div>
								</div>
							</li>
							<li class="preview-list-item timeStart">
								<div class="control-group">
									<div class="controls">
										<input id="incidentTimeStart" name="timeStart" type="text" value="{{timeStart}}" placeholder="Zeit von?"/>
										<input id="incidentTimeEnd" name="timeEnd" type="text" value="{{timeEnd}}" placeholder="Zeit bis?"/>
									</div>
								</div>
							</li>
						</ul>
					
					{{/with}}
					</ul>
					<div class="control-group">
						<div class="controls">
							<input id="incident-update" type="submit" value="Submit" class="btn btn-primary submit"/>
							<input id="incident-cancel" type="submit" value="Cancel" class="btn btn-default submit"/>
							<input id="incident-delete" type="submit" value="Delete" class="btn btn-danger submit"/>
						</div>
					</div>
				 </div>
			</div>
		</div>
	</div>

</template>